{% extends 'main/base.html' %}
{% load static %}

{% block title %}Plant Details{% endblock %}

{% block content %}

<section class="container-lg my-5 p-0 text-center f-ubuntu">
    <div class="row row-cols-1 row-cols-md-2 justify-content-center gap-3">
        <div class="col col-md-6 col-lg-5 h-col">
            <img src="{{plant.image.url}}" class="w-100 h-100 object-fit-cover rounded-3 shadow" />
        </div>
        <div class="col col-md-6 col-lg-5 h-col {% if 'mode' in request.COOKIES and request.COOKIES.mode == 'dark' %} text-light {% else %} text-black {% endif %}">
            <div class="d-flex flex-column text-start h-100 p-4 shadow gap-1 rounded-3 {% if 'mode' in request.COOKIES and request.COOKIES.mode == 'dark' %} bg-dark {% else %} bg-light {% endif %}">
                <h2 class="fw-semibold f-jockey"> {{plant.name}} </h2>
                <div class="d-flex flex-row gap-2">
                    {% for category in plant.categories.all %}
                    <a href="{% url 'plants:plantsDisplayView' category %}" class="{{category}}-tag rounded-4 border-2 text-center text-decoration-none px-1 mb-2 small {% if 'mode' in request.COOKIES and request.COOKIES.mode == 'dark' %} text-white {% else %} text-black {% endif %}" style="max-width: fit-content;">
                    {{category}}
                    </a>
                    {% endfor %}
                </div>
                <p class="fw-medium fs-5">About:
                    <span class="fw-normal fs-6 {% if 'mode' in request.COOKIES and request.COOKIES.mode == 'dark' %} darktext {% else %} lighttext {% endif %}">{{plant.about}}</span>
                </p>
                <p class="fw-medium fs-5">Uses:
                    <span class="fw-normal fs-6 {% if 'mode' in request.COOKIES and request.COOKIES.mode == 'dark' %} darktext {% else %} lighttext {% endif %}">{{plant.usedFor}}</span>
                </p>
                <p class="fw-medium fs-5">Edible:
                    <span class="fw-normal fs-6 {% if 'mode' in request.COOKIES and request.COOKIES.mode == 'dark' %} darktext {% else %} lighttext {% endif %}">
                        {% if plant.isEdible %} Yes {% else %} No {% endif %} </span>
                </p>
                <p class="fw-medium fs-5">Date added:
                    <span class="fw-normal fs-6 {% if 'mode' in request.COOKIES and request.COOKIES.mode == 'dark' %} darktext {% else %} lighttext {% endif %}">{{plant.createdAt}}</span>
                </p>
                <div class="d-flex flex-row justify-content-evenly">
                    <a href="{% url 'plants:updatePlantView' plant.id %}" class="col-4 btn border-2 shadow-sm {% if 'mode' in request.COOKIES and request.COOKIES.mode == 'dark' %} btn-outline-light {% else %} btn-outline-dark {% endif %}">
                        Update
                    </a>
                    <!-- Button to trigger delete modal -->
                    <button type="button" class="col-4 btn btn-outline-danger shadow" data-bs-toggle="modal"
                        data-bs-target="#deleteModal">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Post</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this post?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary shadow"
                    data-bs-dismiss="modal">Close</button>
                <a href="{% url 'plants:deletePlantView' plant.id %}" class="btn btn-danger shadow">Delete</a>
            </div>
        </div>
    </div>
</div>

<!-- Related plants -->
<section class="container f-ubuntu my-5">
    <h2
        class="f-jockey {% if 'mode' in request.COOKIES and request.COOKIES.mode == 'dark' %} darktext {% else %} lighttext {% endif %}">
        Similar plants:
    </h2>
    {% if similarPlants %}
    <div class="row mt-2 row-cols-1 row-cols-md-3 g-4">
        {% for similar in similarPlants %}
            {% if plant.name != similar.name %}
                <div class="col f-ubuntu">
                    <div class="card p-2 my-2 text-start shadow rounded-3 {% if 'mode' in request.COOKIES and request.COOKIES.mode == 'dark' %} text-bg-dark {% else %} text-bg-light {% endif %}" style="height: 30rem;">
                        <img src="{{similar.image.url}}" class="card-img-top rounded-3 h-image "/>
                        <div class="card-body d-flex flex-column gap-1 {% if 'mode' in request.COOKIES and request.COOKIES.mode == 'dark' %} text-white {% else %} text-black {% endif %}">
                            <a href="{% url 'plants:plantDetailsView' similar.id %}" class="card-title fs-3 f-jockey text-decoration-none my-1">{{similar.name}}</a>
                            {% for category in similar.categories.all %}
                            <a href="{% url 'plants:plantsDisplayView' category %}" class="{{category}}-tag rounded-4 border-2 text-center text-decoration-none px-1 mb-2 small {% if 'mode' in request.COOKIES and request.COOKIES.mode == 'dark' %} text-white {% else %} text-black {% endif %}" style="max-width: fit-content;">
                                {{category}}
                            </a>
                            {% endfor %}
                            <p class="card-text small fw-medium {% if 'mode' in request.COOKIES and request.COOKIES.mode == 'dark' %} darktext {% else %} lighttext {% endif %} ">
                                <span class="fw-medium fs-6 {% if 'mode' in request.COOKIES and request.COOKIES.mode == 'dark' %} text-white {% else %} text-black {% endif %}">About: </span>
                                {{similar.about}}
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% else %}
    <h5 class="ps-5 {% if 'mode' in request.COOKIES and request.COOKIES.mode == 'dark' %} darktext {% else %} lighttext {% endif %}">
    No similar plants..
    </h5>
    {% endif %}
</section>

<!-- Comment section -->
<section class="container f-ubuntu">
    <!-- Display comments -->
    <div class="row justify-content-center">
        <h2 class="f-jockey {% if 'mode' in request.COOKIES and request.COOKIES.mode == 'dark' %}darktext{% else %}lighttext{% endif %}">
            Comments <span class="f-ubuntu fs-3 fw-medium">({{comments.count}}):</span>
        </h2>
        <div class="d-flex flex-column gap-2 mb-5 mx-2">
            {% for comment in comments %}
            <div class="card p-1 my-2 text-start shadow rounded-3 {% if 'mode' in request.COOKIES and request.COOKIES.mode == 'dark' %} text-bg-dark {% else %} text-bg-light {% endif %}" style="max-width:40rem;">
                <div class="card-body d-flex flex-column gap-1 {% if 'mode' in request.COOKIES and request.COOKIES.mode == 'dark' %} text-white {% else %} text-black {% endif %}">
                    <p class="card-title fs-4 f-jockey text-decoration-none my-1">{{comment.name}}</p>
                    <p class="card-text fw-medium {% if 'mode' in request.COOKIES and request.COOKIES.mode == 'dark' %} darktext {% else %} lighttext {% endif %} ">
                        {{comment.comment}}
                    </p>
                    <p class="card-text small fw-medium {% if 'mode' in request.COOKIES and request.COOKIES.mode == 'dark' %} darktext {% else %} lighttext {% endif %} ">
                        {{comment.createdAt}}
                    </p>
                </div>
            </div>
            {% empty %}

            {% endfor %}
        </div>
    </div>
    <!-- Add comment -->
    <div class="row justify-content-center">
        
        <div class="col-10 col-lg-8 shadow rounded-5 py-3 px-4 {% if 'mode' in request.COOKIES and request.COOKIES.mode == 'dark' %} bg-dark darktext {% else %} bg-light lighttext {% endif %} opacity-90">
            <p class=" fs-5 fw-medium {% if 'mode' in request.COOKIES and request.COOKIES.mode == 'dark' %} darktext {% else %} lighttext {% endif %}">
                Add your comment:
            </p>
            <form action="{% url 'plants:addCommentView' plant.id %}" class="form-floating d-flex flex-column gap-2 mt-3 px-2 needs-validation" method="post" novalidate>
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input type="text" class="form-control focus-ring focus-ring-success" placeholder="Name.."
                        name="name" id="floatingName" required minlength="4" maxlength="256">
                    <label for="floatingName" class="lighttext">Your Name</label>
                    <div class="invalid-feedback">
                        Please enter a valid name.
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control focus-ring focus-ring-success" placeholder="Comment.."
                        name="comment" id="floatingCom" style="height: 100px;" required></textarea>
                    <label for="floatingCom" class="lighttext">Comment</label>
                    <div class="invalid-feedback">
                        Please write your comment.
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-center">
                    <button
                        class="col-6 btn border-2 {% if 'mode' in request.COOKIES and request.COOKIES.mode == 'dark' %} btn-outline-light {% else %} btn-outline-dark {% endif %}"
                        type="submit">Add Comment
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}